body {
    background-color: rgb(198, 136, 60);
}

.toggle_box {
    width: 225px; 
    margin: 35px auto;
    position: relative;
    border-radius: 30px; /* For button shape */
    background-color: aliceblue;

}

.toggle_button {
    padding: 10px 30px; /* Text box size */
    cursor: pointer;
    border: 0;
    position: relative;
    text-align: center;
    outline: none;
    background: transparent;
    text-align: center;
}

#button {
    left: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: aqua;
    border-radius: 30px; /* For button shape */
    transition: 1s;
}