<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish View Page</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>4. Dish View page</h1>

    <div class="page">

        <!-- Top section -->
        <div class="top-section">

            <input 
                type="text"
                id="searchbar" 
                class="search-bar" 
                placeholder="Search bar: (type here)"
            >

            <div class="controls">

    <select id="filterSelect">
        <option value="all">Filter:</option>
        <option value="main">Main Dish</option>
        <option value="side">Side Dish</option>
    </select>


    <select id="sortSelect">
        <option value="default">Sort by:</option>
        <option value="priceLow">Lowest Price</option>
        <option value="priceHigh">Highest Price</option>
        <option value="ratingLow">Lowest Rating</option>
        <option value="ratingHigh">Highest Rating</option>
    </select>

    </div>

            <!-- Profile icon -->
            <div class="profile">
                <div class="head"></div>
                <div class="body"></div>
            </div>

        </div>


        <!-- Dish cards -->
        <div id="dishContainer" class="dish-container">

           <!-- Dish 1 -->
            <div class="dish-card"
                 data-category="main"
                 data-price="20"
                 data-rating="5">

                <div class="dish-picture">Picture</div>

                <h2>beef Rice</h2>

                <p><b>Category:</b> Main Dish</p>
                <p><b>Price:</b> RM 20.00</p>
                <p><b>Vendor's name:</b> Ali's Kitchen</p>
                <p><b>Availability:</b> Yes</p>
            </div>
            <!-- Dish 2 -->
            <div class="dish-card"
                 data-category="main"
                 data-price="8"
                 data-rating="2">

                <div class="dish-picture">Picture</div>

                <h2> noodles</h2>

                <p><b>Category:</b> Main Dish</p>
                <p><b>Price:</b> RM 8.00</p>
                <p><b>Vendor's name:</b> Ali's Kitchen</p>
                <p><b>Availability:</b> Yes</p>
            </div>
            <!-- Dish 3 -->
            <div class="dish-card"
                 data-category="side"
                 data-price="10"
                 data-rating="5">

                <div class="dish-picture">Picture</div>

                <h2>cake</h2>

                <p><b>Category:</b> side Dish</p>
                <p><b>Price:</b> RM 10.00</p>
                <p><b>Vendor's name:</b> Ali's Kitchen</p>
                <p><b>Availability:</b> Yes</p>
            </div>
            <!-- Dish 4 -->
            <div class="dish-card"
                 data-category="main"
                 data-price="8"
                 data-rating="4">

                <div class="dish-picture">Picture</div>

                <h2>Chicken Rice</h2>

                <p><b>Category:</b> Main Dish</p>
                <p><b>Price:</b> RM 8.00</p>
                <p><b>Vendor's name:</b> Ali's Kitchen</p>
                <p><b>Availability:</b> Yes</p>
            </div>
            <!-- Dish 5 -->
            <div class="dish-card"
                 data-category="main"
                 data-price="12"
                 data-rating="4">

                <div class="dish-picture">Picture</div>

                <h2>Chicken Rice</h2>

                <p><b>Category:</b> Main Dish</p>
                <p><b>Price:</b> RM 12.00</p>
                <p><b>Vendor's name:</b> Ali's Kitchen</p>
                <p><b>Availability:</b> Yes</p>
            </div>
            <!-- Dish 6 -->
            <div class="dish-card"
                 data-category="main"
                 data-price="8"
                 data-rating="3">

                <div class="dish-picture">Picture</div>

                <h2>fried Rice</h2>

                <p><b>Category:</b> Main Dish</p>
                <p><b>Price:</b> RM 8.00</p>
                <p><b>Vendor's name:</b> Ali's Kitchen</p>
                <p><b>Availability:</b> Yes</p>
            </div>
        </div>

    </div>
    

            </div>

    </div>

    <script src="script.js"></script>

</body>
</html>
