<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <header>
        <h1>DishScope</h1>
        <nav class="nav-menu">
        </div>
        <div class="dropdown">
            <button class="dropbtn">Menu ▼</button>
            <div class="dropdown-content">
                <a href="{{ url_for('home') }}">Home</a>
                {% if session.get('logged_in') %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
                <!-- check if the logged-in user is a student -->
                {% if session.get('role') == 'student' %}
                    <a href="{{ url_for('reset-password') }}">Student Dashboard</a>
                {% endif %}
                
            </div>
        </div>
    </nav>
    </header>
</head>
<body>
    <form action="/register" method="GET">
    <button type="submit" class="submit-btn">Register here</button>
</form>
    
</body>
</html>