<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <header>
        <h1>DishScope</h1>
    </header>
</head>
<body>

    <div class="login-container">
        <h2>Login Here</h2>
        <form method="POST" action="/login">
            <div class="input-group">
                <label for="username">Username or Email</label>
                <input type="text" id="username" name="name" required placeholder="Enter your username">
            </div>
            
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Enter your password">
                <button type="button" onclick="showPassword()">Show Password</button>
            </div>

            <div class="remember-forgot">
                
                <a href="{{ url_for('verify_email') }}">Forgot password?</a>
            </div>

            <button type="submit" class="login-btn">Log In</button>
        </form>

        <p class="register-link">Don't have an account? <a href="{{ url_for('register') }}">Sign up</a></p>
    </div>
    <script src="../static/javascript/index.js"></script>
</body>
</html>