<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <header>
        <h1>DishScope</h1>
        
        <nav class="nav-menu">
        </div>
        <div class="dropdown">
            <button class="dropbtn">Menu ▼</button>
            <div class="dropdown-content">
                <a href="{{ url_for('dish_view') }}">Dish View</a>
                {% if session.get('role') == 'vendor' %}
                    <a href="{{ url_for('menu_management') }}">Menu Management</a>
                    <a href="{{ url_for('add_dish') }}">Add Dish</a>
                {% endif %}
                {% if session.get('logged_in') %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>



    </header>
</head>
<body>
    <h1 class="profile">Your Profile</h1>
    <h2 class="profile">Manage your profile information and preferences</h2>
    
    <form method="POST" action="">
        <div class="form-box">
            <div class="avatar">
                {{ user['name'][0] | upper }}
            </div>
            <div class="field-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" value= "{{ user['name'] }}" required class="text-input">
                    </div>
                    {% if session.get('role') == 'vendor' %}
                        <div id="role_vendor" class="field-group">
                            <label for="username">Your vendor name:</label>
                            <input type="text" id="vendor_location" name="vendor_name" value= "{{ vendor['vendor_name'] }}" required class="text-input">
                            <label for="username">Your vendor location:</label>
                            <input type="text" id="vendor_location" name="vendor_location" value= "{{ vendor['vendor_location'] }}" required class="text-input">
                        </div>
                    {% endif %}

                    <div class="field-group">
                        <label for="email">Email:</label>
                        <div class="input-wrapper">
                            <input type="email" id="email" name="email" value="{{ user['email'] }}" disabled class="text-input disabled-input">
                            <span class="lock-tag"></span>
                        </div>
                    </div>

                    <div class="field-group">
                        <label for="role">Role:</label>
                        <div class="role-row">
                            <div class="input-wrapper flex-1">
                                <input type="text" id="role" name="role" value="{{user['role']}}" disabled class="text-input disabled-input">
                                <span class="lock-tag"></span>
                            </div>



        </div>

    </form>

</body>
</html>